<div>
    <button mat-button color="primary" (click)="getUserList() ; ">UserList</button>
</div>

<div class="adminPage">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-2">
                <h1>Update News</h1>
            </div>
            <div class="col-2">
                <mat-form-field >
                    <mat-label>Select a Category</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="1">News</mat-option>
                      <mat-option value="2">National News</mat-option>
                      <mat-option value="3">State News</mat-option>
                      <mat-option value="4">Sports</mat-option>
                      <mat-option value="5">Entertainment</mat-option>
                      <mat-option value="6">Health</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          </div>
       
        <div class="row adminPage">
            <div class="col-md-6 adminBlockImg">
                <input type="file" (change)="onFileSelected($event)">
                
            </div>
            <div class="col-md-6 adminBlock">
                <div class="row">
                    <div class="col adminHeading">
                        <mat-card>Enter Heading</mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col adminContent">
                        <mat-card>Enter Content</mat-card>
                    </div>
                </div>
                <mat-checkbox class="example-margin" >Popular News</mat-checkbox>
                <button mat-button color="primary">Submit</button>
                
                
            </div>
        </div>
    </div>
</div>



